<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.itcast.timtim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoginPage.SetPasswold"></activity>
        <activity android:name=".PersonalPage.Personalmessage" />
        <activity android:name=".PersonalPage.RecordingPage" />
        <activity android:name=".PersonalPage.BIllPage" />
        <activity android:name=".ShowPage.Show_picture" />
        <activity android:name=".ShowPage.AttrDetails" />
        <activity android:name=".LoginPage.HomeActivity" />
        <activity android:name=".LoginPage.MainActivity" />
        <activity android:name=".LoginPage.ForgetActivity" />
        <activity android:name=".LoginPage.startActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>